*, body {
    text-align: center;
    color: black;
    background-color: lightblue;
}
#questions {
    font-weight: bold;
    font-size: 24px;
}
.btn {
    color: gray;
    color: black;
}

.hide {
    display: none;
}